@font-face {
  font-family: "redhat";
  src: url("/fonts/static/RedHatText-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "redhat";
  src: url("/fonts/static/RedHatText-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "redhat";
  src: url("/fonts/static/RedHatText-Bold.ttf");
  font-weight: bold;
}
